doctype
html
    head
        title control dashbord
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/app.css")
        link(href="lib/angular-dashboard-framework/dist/angular-dashboard-framework.min.css" rel="stylesheet")
        link(href="lib/adf-widget-iframe/dist/adf-widget-iframe.min.css" rel="stylesheet")
    body(ng-app="myApp")
        header.navbar.navbar-default
              .container
                  .navbar-header
                      a.navbar-brand(href="/") Simple Online Store
                  .navbar-collapse.collapse
                      ul.nav.navbar-nav
                          li
                              a(href="/") Home
                      ul.nav.navbar-nav.navbar-right
                          if(currentUser)
                              li
                                a(href="/profile") Hello 
                                    span#currentUsername #{currentUser.username}   
                              li
                                a(href="/logout") Logout   
                           else
                              li
                                a(href="/register") Register   
                              li
                                a(href="/login") Login   
        .container
          if (errorMessage)
            .alert.alert-dismissible.alert-danger
                button.close(type='button', class='close' data-dismiss='alert') x
                .text-center #{errorMessage}
        block main-content
        include scripts