script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript" src="/lib/Sortable/Sortable.min.js")
script(type="text/javascript" src="/lib/angular/angular.min.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.min.js")
script(type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.min.js")
script(type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js")
script(type="text/javascript" src="/lib/angular-dashboard-framework/dist/angular-dashboard-framework.min.js")
script(type="text/javascript" src="scripts/app.js")

script(type="text/javascript" src="/lib/adf-structures-base/dist/adf-structures-base.min.js")

script(type="text/javascript" src="/lib/adf-widget-iframe/dist/adf-widget-iframe.min.js")

script(type="text/javascript" src="/lib/showdown/compressed/Showdown.min.js")
script(type="text/javascript" src="/lib/angular-markdown-directive/markdown.js")
script(type="text/javascript" src="/lib/adf-widget-markdown/dist/adf-widget-markdown.min.js")
