extends shared/layout

block main-content
	.container(ng-controller="priceController")
		.col-md-12
			uib-alert(ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)") {{alert.msg}}
		.col-md-12
			button(ng-click="refresh()") 刷新
			button(ng-click="save()") 保存
		.col-md-12
			table(class="table table-striped table-hover")
				tr
					th 序号
					th 域名
					th 底价
					th 出价 
					th 询价次数 
					th 出价次数 
					th 操作
				tr(ng-repeat="item in bitItems track by $index")
					td {{$index + 1}}
					td {{item.qurl}}
					td {{item.basePrice}}
					td 
						input(ng-model='item.bitPrice')
					td {{item.count}}
					td {{item.bitcount}}
					td
						button(ng-click="update(item)") 更新
						button(ng-click="remove(item)") 删除

		.col-md-12
			input(ng-model='searchString') 
			button(ng-click="search()") 搜索
		.col-md-12
			table(class="table table-striped table-hover")
				tr
					th 序号
					th 域名
					th 底价
					th 出价 
					th 询价次数 
					th 操作
				tr(ng-repeat="item in priceItems track by $index")
					td {{$index + 1}}
					td {{item.qurl}}
					td {{item.basePrice}}
					td 
						input(ng-model='item.bitPrice')
					td {{item.count}}
					td
						button(ng-click="add(item)") 添加
